.p-menuitem-link.router-link-active {
  background: #eef2ff;
  font-weight: 600;
}

/* src/app/pages/equipe-nationale/senior/senior.component.css */
.senior-header {
  margin-bottom: 14px;
}
.senior-header h1 {
  margin: 0 0 10px 0;
  font-size: 22px;
}

/*
  Ne pas confondre :
  - .p-focus : focus clavier (temporaire)
  - .p-menuitem-link-active : lien actif via router (persistant)
*/
:host ::ng-deep .p-menuitem-link-active {
  font-weight: 700;
  text-decoration: underline;
}

.senior-content {
  padding-top: 12px;
  border-top: 1px solid #eee;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
