<!-- <header class="wrapper image-wrapper bg-image pb-1" data-image-src="./assets/sandbox/img/photos/bg3.jpg" style="background-image: url('./assets/sandbox/img/photos/bg3.jpg');"> -->
<nav
  class="navbar navbar-expand-lg center-nav transparent navbar-dark bg-navy"
  style="background-image: url('./assets/sandbox/img/photos/bg3.jpg')"
>
  <div class="container flex-lg-row flex-nowrap align-items-center">
    <div class="navbar-brand w-100">
      <a routerLink="/">
        <img src="assets/img/logo.png" srcset="assets/img/logo@x2.png 2x" alt="" />
      </a>
    </div>
    <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
      <div class="offcanvas-header d-lg-none">
        <a routerLink="/"
          ><img src="assets/img/logo.png" srcset="assets/img/logo@x2.png 2x" alt=""
        /></a>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
        <ul class="navbar-nav">
          <!-- Accueil -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Accueil</a>
          </li>

          <!-- Équipe Nationale -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              routerLink="/equipe-nationale/senior/home"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Équipe Nationale
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/equipe-nationale/senior/home"
                  >Equipe Nationale</a
                >
              </li>
              <li><a class="dropdown-item" routerLink="/equipe-nationale/en-a">EN A'</a></li>
              <li><a class="dropdown-item" routerLink="/equipe-nationale/en-u23">EN U23</a></li>
              <li><a class="dropdown-item" routerLink="/equipe-nationale/en-u20">EN U20</a></li>
              <li><a class="dropdown-item" routerLink="/equipe-nationale/en-u18">EN U18</a></li>
              <li><a class="dropdown-item" routerLink="/equipe-nationale/en-u17">EN U17</a></li>
              <li><a class="dropdown-item" routerLink="/equipe-nationale/en-u13">EN U13</a></li>
              <li>
                <a class="dropdown-item" routerLink="/equipe-nationale/en-filles">EN Filles</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/equipe-nationale/en-u20-filles"
                  >EN U20 Filles</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/equipe-nationale/en-u17-filles"
                  >EN U17 Filles</a
                >
              </li>
              <li><a class="dropdown-item" routerLink="/equipe-nationale/futsal">Futsal</a></li>
            </ul>
          </li>

          <!-- Compétitions (Nationales + Internationales) -->
          <li class="nav-item dropdown dropdown-mega">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Compétitions
            </a>
            <ul class="dropdown-menu mega-menu">
              <li class="mega-menu-content">
                <div class="row gx-0 gx-lg-3">
                  <!-- Nationales -->
                  <div class="col-lg-4">
                    <h6 class="dropdown-header">Nationales</h6>

                    <div class="mt-1">
                      <div class="fw-semibold small text-uppercase px-3">Championnat d’Algérie</div>
                      <ul class="list-unstyled">
                        <li>
                          <a class="dropdown-item" routerLink="/competitions/championnat"
                            >Accueil</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" routerLink="/competitions/championnat/histoire"
                            >Histoire</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" routerLink="/competitions/championnat/resultats"
                            >Résultats (par saison)</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            routerLink="/competitions/championnat/classements"
                            >Classements</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" routerLink="/competitions/championnat/buteurs"
                            >Buteurs</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" routerLink="/competitions/championnat/palmares"
                            >Palmarès</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!-- Coupe + Complémentaires -->
                  <div class="col-lg-4">
                    <h6 class="dropdown-header">Coupes & complémentaires</h6>

                    <div class="mt-1">
                      <div class="fw-semibold small text-uppercase px-3">Coupe d’Algérie</div>
                      <ul class="list-unstyled">
                        <li>
                          <a class="dropdown-item" routerLink="/competitions/coupe-algerie"
                            >Accueil</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" routerLink="/competitions/coupe-algerie/histoire"
                            >Histoire</a
                          >
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            routerLink="/competitions/coupe-algerie/resultats"
                            >Résultats</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" routerLink="/competitions/coupe-algerie/finales"
                            >Finales (fiches)</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" routerLink="/competitions/coupe-algerie/arbitres"
                            >Arbitres (finales)</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" routerLink="/competitions/coupe-algerie/palmares"
                            >Palmarès</a
                          >
                        </li>
                      </ul>
                    </div>

                    <div class="mt-3">
                      <div class="fw-semibold small text-uppercase px-3">
                        Compétitions complémentaires
                      </div>
                      <ul class="list-unstyled">
                        <li>
                          <a class="dropdown-item" routerLink="/competitions/super-coupe"
                            >Super Coupe</a
                          >
                        </li>
                        <li>
                          <a class="dropdown-item" routerLink="/competitions/coupe-ligue"
                            >Coupe de la Ligue</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>

                  <!-- Internationales -->
                  <div class="col-lg-4">
                    <h6 class="dropdown-header">Internationales</h6>
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" routerLink="/international">Accueil</a></li>
                      <li>
                        <a class="dropdown-item" routerLink="/international/clubs-algeriens"
                          >Clubs algériens engagés</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" routerLink="/international/afrique"
                          >Compétitions africaines</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" routerLink="/international/arabes"
                          >Compétitions arabes</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" routerLink="/international/maghreb-monde"
                          >Maghreb / Monde</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" routerLink="/international/finales"
                          >Finales & palmarès</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/livres">Livres</a>
          </li>
        </ul>

        <!-- /.navbar-nav -->
        <div class="d-lg-none mt-auto pt-6 pb-6 order-4">
          <a href="mailto:first.last@email.com" class="link-inverse">info@archifoot.dz</a>
          <br />
          00 (123) 456 78 90 <br />
          <nav class="nav social social-white mt-4">
            <a href="#"><i class="uil uil-twitter"></i></a>
            <a href="#"><i class="uil uil-facebook-f"></i></a>
            <a href="#"><i class="uil uil-dribbble"></i></a>
            <a href="#"><i class="uil uil-instagram"></i></a>
            <a href="#"><i class="uil uil-youtube"></i></a>
          </nav>
          <!-- /.social -->
        </div>
        <!-- /offcanvas-nav-other -->
      </div>
      <!-- /.offcanvas-body -->
    </div>
    <!-- /.navbar-collapse -->
    <div class="navbar-other w-100 d-flex ms-auto">
      <ul class="navbar-nav flex-row align-items-center ms-auto">
        <li class="nav-item dropdown language-select text-uppercase">
          <a
            class="nav-link dropdown-item dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Fr</a
          >
          <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item" href="#">Fr</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#">En</a></li>
            <li class="nav-item"><a class="dropdown-item" href="#">Ar</a></li>
          </ul>
        </li>
        <li class="nav-item d-none d-md-block">
          <a routerLink="/contact" class="btn btn-sm btn-primary rounded-pill">Contact</a>
        </li>
        <li class="nav-item d-lg-none">
          <button class="hamburger offcanvas-nav-btn"><span></span></button>
        </li>
      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-other -->
  </div>
  <!-- /.container -->
</nav>
<!-- /.navbar -->
<!-- </header> -->
