<div class="row gy-6 mb-12">
  <div class="col-md-12">
    <figure class="hover-scale rounded cursor-dark">
      <a href="./assets/sandbox/img/photos/pp24@2x.jpg" data-glightbox="" data-gallery="project-4">
        <img
          src="./assets/sandbox/img/photos/pp24.jpg"
          srcset="./assets/sandbox/img/photos/pp24@2x.jpg 2x"
          alt=""
        />
      </a>
    </figure>
  </div>
  <!-- /column -->
  <div class="col-md-6">
    <figure class="hover-scale rounded cursor-dark">
      <a href="./assets/sandbox/img/photos/pp25@2x.jpg" data-glightbox="" data-gallery="project-4">
        <img
          src="./assets/sandbox/img/photos/pp25.jpg"
          srcset="./assets/sandbox/img/photos/pp25@2x.jpg 2x"
          alt=""
        />
      </a>
    </figure>
  </div>
  <!-- /column -->
  <div class="col-md-6">
    <figure class="hover-scale rounded cursor-dark">
      <a href="./assets/sandbox/img/photos/pp26@2x.jpg" data-glightbox="" data-gallery="project-4">
        <img
          src="./assets/sandbox/img/photos/pp26.jpg"
          srcset="./assets/sandbox/img/photos/pp26@2x.jpg 2x"
          alt=""
        />
      </a>
    </figure>
  </div>
  <!-- /column -->
</div>

<div class="row mb-12">
  <div class="col-lg-10 mx-auto">
    <h2 class="display-6 mb-4">About the Project</h2>
    <p>
      Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo,
      tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat
      a ante venenatis. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum.
    </p>
    <p class="mb-0">
      Donec id elit non mi porta gravida at eget metus. Cras mattis consectetur purus sit amet
      fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio
      dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed
      posuere consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.
    </p>
  </div>
  <!--/column -->
</div>
