<footer class="footer-archifoot bg-dark text-white">
  <div class="container py-10 py-md-12">
    <div class="row gy-8 gy-lg-0">
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <img
            class="mb-4"
            src="assets/img/logo.png"
            srcset="assets/img/logo@x2.png 2x"
            alt="ArchiFoot Logo"
            style="height: 50px;"
          />
          <p class="mb-4 text-white-50">
            L'encyclopédie historique du football algérien. <br class="d-none d-lg-block" />
            Tous droits réservés © 2024.
          </p>
          <nav class="nav social social-white">
            <a href="#" aria-label="Twitter"><i class="uil uil-twitter"></i></a>
            <a href="#" aria-label="Facebook"><i class="uil uil-facebook-f"></i></a>
            <a href="#" aria-label="Instagram"><i class="uil uil-instagram"></i></a>
            <a href="#" aria-label="Youtube"><i class="uil uil-youtube"></i></a>
          </nav>
        </div>
      </div>

      <div class="col-md-4 col-lg-2 offset-lg-1">
        <div class="widget text-white">
          <h4 class="widget-title text-white mb-3">ArchiFoot</h4>
          <ul class="list-unstyled mb-0">
            <li><a class="text-white-50 hover-white" routerLink="/">Accueil</a></li>
            <li><a class="text-white-50 hover-white" routerLink="/news">News</a></li>
            <li><a class="text-white-50 hover-white" routerLink="/livres">Livres</a></li>
            <li><a class="text-white-50 hover-white" routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="widget text-white">
          <h4 class="widget-title text-white mb-3">Équipe Nationale</h4>
          <ul class="list-unstyled mb-0">
            <li><a class="text-white-50 hover-white" routerLink="/equipe-nationale/senior/home">EN Senior</a></li>
            <li><a class="text-white-50 hover-white" routerLink="/equipe-nationale/en-a">EN A'</a></li>
            <li><a class="text-white-50 hover-white" routerLink="/equipe-nationale/en-u23">EN U23</a></li>
            <li><a class="text-white-50 hover-white" routerLink="/equipe-nationale/en-filles">EN Filles</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-12 col-lg-3">
        <div class="widget text-white">
          <h4 class="widget-title text-white mb-3">Compétitions</h4>
          <ul class="list-unstyled mb-0">
            <li><a class="text-white-50 hover-white" routerLink="/competitions/championnat">Championnat d'Algérie</a></li>
            <li><a class="text-white-50 hover-white" routerLink="/competitions/coupe-algerie">Coupe d'Algérie</a></li>
            <li><a class="text-white-50 hover-white" routerLink="/competitions/super-coupe">Super Coupe</a></li>
          </ul>
          <div class="mt-5">
            <a href="mailto:info@archifoot.dz" class="text-white">info@archifoot.dz</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>