.p-autocomplete {
  width: 100%;
}
.country-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

.country-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.country-flag {
  width: 24px;
  height: 18px;
  flex: 0 0 auto;
  border-radius: 2px;
  object-fit: cover;
}
:host ::ng-deep .p-autocomplete-input {
  display: block;
  width: 100%;
  padding: 0.6rem 2rem 0.6rem 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.7;
  color: #959ca9;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 20px 20px;
  border: 1px solid rgba(8, 60, 130, 0.07);
  border-radius: 0.4rem;
  box-shadow: 0rem 0rem 1.25rem rgba(30, 34, 40, 0.04);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
