<section class="wrapper bg-light">
  <div class="container py-5 pt-md-5 pb-md-4">
    <figure class="rounded">
      <img
        src="assets/img/equipe-nationale-algerie.jpg"
        srcset="./assets/img/about5@2x.jpg 2x"
        alt=""
      />
    </figure>
    <div class="row">
      <div class="col-xl-10 mx-auto">
        <div
          class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-400 text-white mt-n5 mt-lg-0 mt-lg-n50p mb-lg-n50p border-radius-lg-top"
          data-image-src="assets/img/bg-green.jpg"
          style="background-image: url('./assets/img/bg-green.jpg')"
        >
          <div class="card-body p-9 p-xl-10">
            <div class="row align-items-center counter-wrapper gy-4 text-center">
              <div class="col-6 col-lg-3">
                <h3 #counterEl class="counter counter-lg text-white">{{ totalMatches() }}</h3>
                <p>Matchs</p>
              </div>
              <!--/column -->
              <div class="col-6 col-lg-3">
                <h3 #counterEl class="counter counter-lg text-white">{{ totalWins() }}</h3>
                <p>Victoires</p>
              </div>
              <!--/column -->
              <div class="col-6 col-lg-3">
                <h3 #counterEl class="counter counter-lg text-white">{{ totalGoals() }}</h3>
                <p>Buts marqués</p>
              </div>
              <!--/column -->
              <div class="col-6 col-lg-3">
                <h3 #counterEl class="counter counter-lg text-white">{{ trophyWins() }}</h3>
                <p>Trophés gagnés</p>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.card-body -->
        </div>
        <!--/.card -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->

    <div class="row mb-12">
      <div class="col-lg-10 mx-auto">
        <h2 class="display-6 mb-4">Équipe Nationale d'Algérie Senior</h2>
        <p>
          L'équipe d'Algérie de football (en arabe : منتخب الجزائر لكرة القدم, en berbère : ⵜⴰⵔⴱⴰⵄⵜ
          ⵜⴰⴷⵣⴰⵢⵔⵉⵜ ⵏ ⴷⴷⴰⴱⵅ ⵓⴹⴰⵔ[5]), créée en 1957, est l'équipe nationale qui représente l'Algérie
          dans les compétitions internationales masculines de football, sous l'égide de la
          Fédération algérienne de Football (FAF). Surnommée également l'équipe des « Verts »[1],
          les « Guerriers du désert »[3] et aussi les « Fennecs »[2]. Membre depuis 1963 de la FIFA
          au niveau international et depuis 1964 de la CAF au niveau continental, ainsi que de
          l'UAFA depuis 1974 et de l'UNAF depuis 2005.
        </p>
        <p class="mb-0">
          L'équipe d’Algérie dispute son premier match sous le nom de l’équipe de l’ALN le 1er juin
          1957 face à la Tunisie en pleine guerre d’Algérie au stade Chedly-Zouiten à Tunis match
          remporté sur le score de six buts à un. Après l’indépendance du pays en 1962, la première
          rencontre officielle de son histoire se joue le 6 janvier 1963 face à la Bulgarie, match
          remporté sur le score de deux buts à un. La sélection algérienne dispute ses premières
          qualifications à une phase finale de Coupe du monde en 1970. Elle remporte son premier
          trophée en 1990 lors de la Coupe d'Afrique des nations. La sélection obtient son meilleur
          résultat en 2019 en remportant pour la deuxième fois de son histoire la compétition. En
          Coupe du monde, l'Algérie s'est qualifiée à quatre occasions pour un tournoi final en
          1982, 1986, 2010 et en 2014 au Brésil, où l'Algérie se qualifie pour la première fois de
          son histoire pour les huitièmes de finale, devenant ainsi la sixième nation d'Afrique à
          atteindre ce niveau.
        </p>
      </div>
      <!--/column -->
    </div>
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
<!-- <div class="row gy-6">
  <div class="col-md-8">
    <figure class="hover-scale rounded cursor-dark">
      <a href="./assets/sandbox/img/photos/pp24@2x.jpg" data-glightbox="" data-gallery="project-4">
        <img
          src="./assets/sandbox/img/photos/pp24.jpg"
          srcset="./assets/sandbox/img/photos/pp24@2x.jpg 2x"
          alt=""
        />
      </a>
    </figure>
  </div>
  <div class="col-md-4">
    <div class="col-md-12 mb-6">
      <figure class="hover-scale rounded cursor-dark">
        <a
          href="./assets/sandbox/img/photos/pp25@2x.jpg"
          data-glightbox=""
          data-gallery="project-4"
        >
          <img
            src="./assets/sandbox/img/photos/pp25.jpg"
            srcset="./assets/sandbox/img/photos/pp25@2x.jpg 2x"
            alt=""
          />
        </a>
      </figure>
    </div>
    <div class="col-md-12">
      <figure class="hover-scale rounded cursor-dark">
        <a
          href="./assets/sandbox/img/photos/pp26@2x.jpg"
          data-glightbox=""
          data-gallery="project-4"
        >
          <img
            src="./assets/sandbox/img/photos/pp26.jpg"
            srcset="./assets/sandbox/img/photos/pp26@2x.jpg 2x"
            alt=""
          />
        </a>
      </figure>
    </div>
  </div>
</div> -->
