@import 'glightbox/dist/css/glightbox.min.css';

/* Mettre les styles globaux ici */
.p-menubar {
  box-shadow: 0 0.25rem 0.75rem rgba(30, 34, 40, 0.02);
  border: unset;
}

.card, .card-body {
  border-radius: var(--p-menubar-border-radius);
}

body.mobile-menu-open {
  overflow: hidden;
}
