<picture class="country-flag">
  <source type="image/webp" [srcset]="flagUrls()[0] + ', ' + flagUrls()[1] + ' 2x'" />
  <!-- <source type="image/png" [srcset]="flagUrls()[0] + '.png, ' + flagUrls()[1] + '.png 2x'" /> -->
  <img [src]="flagUrls()[0] + '.png'" width="60" height="40" [alt]="countryName()" />
</picture>
<div class="country-name" [class.mt--5]="category() !== 'Sénior'">
  <span>{{ countryName() }}</span>
  @if (category() !== 'Sénior') {
    <div class="small text-muted text-center">{{ category() }}</div>
  }
</div>
